requests
telebot
matplotlib
numpy
scikit-image
pytelegrambotapi
pymongo
python-telegram-bot==20.0a4
beautifulsoup4
PyMySQL[rsa]
cryptography
#https://bakanim.xyz/posts/deploy-telegram-bot-to-fly-io/
#docker build -t managerbot_image -f ./Manager/dockerfile .